body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/*Overide the default*/
.fp-tableCell{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-subsection{
    width: 50%;
    text-align: center;
}

