/*
Author: Nanwarin Chantarutai
*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Delius|Sue+Ellen+Francisco');

body {

	background: #fff;
    margin: 0;

}

header.nanwarin-header{
    background-color: white;
}
.mdl-layout__header-row span.mdl-layout-title{
    color: black;
    font-family: 'Delius', cursive;
    text-transform: uppercase;
}

.nanwarin-header a.mdl-navigation__link{
    color: #757575;
    font-family: 'Delius', cursive;
    front-weight: 700;
    font-size: 14px;
}

.nanwarin-header a.mdl-navigation__link:hover{
    color: #FE3780;
}

img.article-image{
    height: 200px;
    width: 200px;
}

.blog-card-study-bg {
  background: url(head01.png) center / cover;
}
